.app-container {
    position: relative;
    min-height: 100vh;
}

.content-container {
    padding: 50px 15vw;
}

@media(max-width: 768px){
    .content-container {
        padding: 50px 5vw;
    } 
}

@media(max-width: 450px){
    .content-container {
        padding: 20px;
    } 
}