.text-content {
    max-width: 100%;
    margin:auto;
}
.image {
    margin: 0;
    padding: 0;
    height: 500px;
    max-width: 100%;
}
.info {
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-container {
    overflow-x: hidden;
    max-width: 100%;
    margin:auto;
    font-size: 112%;
    line-height: 1.6;
}
.image-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 500px;
}
.content{
    padding: 25px 0px;
}