@font-face {
  font-family: 'super-bold';
  font-weight: normal;
  font-style: normal;
  src: url('./GT-Super-Display-Bold-Trial.otf');
} 

@font-face {
  font-family: 'super-black';
  font-weight: normal;
  font-style: normal;
  src: url('./GT-Super-Text-Black-Trial.otf');
} 

@font-face {
  font-family: 'super-regular';
  font-weight: normal;
  font-style: normal;
  src: url('./GT-Super-Display-Regular-Trial.otf');
} 

@font-face {
  font-family: 'super-medium';
  font-weight: normal;
  font-style: normal;
  src: url('./GT-Super-Display-Medium-Trial.otf');
} 

@font-face {
  font-family: 'Miller-regular';
  font-weight: normal;
  font-style: normal;
  src: url('./Miller-regular.otf');
} 

@font-face {
  font-family: 'Elderkin-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('./Elderkin-Medium');
} 
